body {
    background-color: white;
    color: black;
    #font-family:sans-serif;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #121212;
      color: #eaeaea;
      a:link {
      color: #6cb6ff;
      }
      a:visited {
      color: #c792ea;
      }
    }
  }
  
td {
  padding:2px; 
 # border:solid 1px #eee;
}

.links {
 font-family:sans-serif;
 font-size: 0.8em;
}


input {
#font-family:serif;
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
 # font-family:serif;
  padding:8px 20px;
  border-radius: 5px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  #background-color: #28a8e0;
  background-color: #BBBBBB;
  height:28px;
}
.sort:hover {
  text-decoration: none;
  background-color:#999999;
#  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}
